.container {
  max-width: 800px;
  margin: 0 auto; 
font-family: 'Josefin Sans', sans-serif;
}

.discussieright {
	width:45%;
	height:auto;
	display: inline-block;
	text-align: left;
}

.rightcontainer {
	width:100%;
	height:auto;
	text-align: right;
}

.discussieleft {
	width:45%;
	height:auto;
}

.leftcontainer {
	width:100%;
	height:auto;
}

.context img {
	max-width:300px;
}

.title {
	font-size:30px;
}

.name {
	font-size:20px;
}


/*

<span class="context" trigger="§">
<a id="§" class="trigger" href="#">§</a>
</span><span trigger="§" class="replace"><img src="images/§.jpg"></span>