@font-face {
  font-family: 'Century';
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("webfont.woff") format("woff"), url("CENTURY.TTF") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

a:link {
  color: black; }

a:visited {
  color: black; }

.container {
  max-width: 700px; }

article {
  color: black;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  font-family: "Century"; }

::selection {
  background: rgba(0, 0, 0, 0); }

.show, article[show="1"] .level1, article[show="1"] .level2, article[show="1"] .level3, article[show="2"] .level2, article[show="2"] .level3, article[show="3"] .level3 {
  color: black;
  transition: color 0.5s ease-in-out; }

.hide, article[show="1"], article[show="2"], article[show="2"] .level1, article[show="3"], article[show="3"] .level1, article[show="3"] .level2 {
  color: rgba(0, 0, 0, 0);
  transition: color 0.5s ease-in-out; }
