a:link{
	color: black;
}
a:visited{
	color: black;
}
.container{
	max-width: 700px;
}
article{
	color: black;
	cursor: pointer;
	transition: color 0.5s ease-in-out;
	font-family: "Century";
}
::selection{
	background: rgba(0,0,0,0);
}
.show{
	color: black;
	transition: color 0.5s ease-in-out;
}
.hide{
	color: rgba(0,0,0,0);
	transition: color 0.5s ease-in-out;
}
article[show="1"]{
	@extend .hide;
}
article[show="1"] .level1{
	@extend .show;
}
article[show="1"] .level2{
	@extend .show;
}
article[show="1"] .level3{
	@extend .show;
}
article[show="2"]{
	@extend .hide;
}
article[show="2"] .level1{
	@extend .hide;
}
article[show="2"] .level2{
	@extend .show;
}
article[show="2"] .level3{
	@extend .show;
}
article[show="3"]{
	@extend .hide;
}
article[show="3"] .level1{
	@extend .hide;
}
article[show="3"] .level2{
	@extend .hide;
}
article[show="3"] .level3{
	@extend .show;
}