.container{
	max-width: 600px;
	margin: 0 auto;
}
.cycle{
	font-weight: bold;
	.cycleElement{
		display: none;
	}
	.cycleElement.show{
		display: inline;
	}
}
.relation.highlight{
	background: yellow;
}
context.highlight{
	background: cyan;
}
.replace{
	display: none;
}