body{
	// -webkit-transition: all 0.5s;
	// transition: all 0.5s;
	opacity: 1;
}
body.animate{
	-webkit-transform: scale(2,2);
	transform: scale(2,2);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
}
.container{
	max-width: 600px;
	margin: 0 auto;
}
.cycle{
	font-weight: bold;
	.cycleElement{
		display: none;
		// display: inline-block;
		// width: 0px;
		// overflow: none;
	}
	.cycleElement.show{
		display: inline;
		// width: auto;
	}
}
.relation.highlight{
	background: rgba(yellow,0.5);
}
context.highlight{
	background: rgba(222,222,222,1);
}
.replace{
	display: none;
}